[submodule "fh-hpc-gaussian-blur"]
	path = fh-hpc-gaussian-blur
	url = git@github.com:FlorianMold/fh-hpc-gaussian-blur.git
[submodule "fh-hpc-improved-gaussian-blur"]
	path = fh-hpc-improved-gaussian-blur
	url = git@github.com:FlorianMold/fh-hpc-improved-gaussian-blur.git
